<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Add A button which says 'Display Details'</li>
                <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
                <li>Toggle the displaying of that paragraph with the button created in the first step</li>

                <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
                <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>                
            </ol>
      </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-primary" (click)="toggleMessage()">Display Details</button>
</div>

<div class="container">
    <h3><p *ngIf="showMessage">Secret Password = "Nino"</p></h3>
</div>

<div *ngIf="showMessage" class="container">
    <h4><p>click logs: {{clickTimeStampLog.clicksCount}} </p></h4>
    

    <div *ngFor="let clicks of clickTimeStampLog.timeStampClickHistory">
        <p [ngStyle]="{backgroundColor: clicks.id >= 5 ? 'blue' : 'white'}"
        [ngClass]="{'whiteColor': clicks.id > 5}">
        ID: {{clicks.id}} Date: {{clicks.date}}
        </p>        
    </div>

</div>
  